[submodule "lua/nvim-lspconfig"]
	path = pack/submodule/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/submodule/start/nvim"]
	path = pack/submodule/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "pack/submodule/start/nvim-treesitter"]
	path = pack/submodule/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/submodule/start/nvim-navic"]
	path = pack/submodule/start/nvim-navic
	url = https://github.com/SmiteshP/nvim-navic.git
[submodule "pack/submodule/start/barbecue.nvim"]
	path = pack/submodule/start/barbecue.nvim
	url = https://github.com/utilyre/barbecue.nvim.git
[submodule "pack/submodule/start/friendly-snippets"]
	path = pack/submodule/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "pack/submodule/start/blink.cmp"]
	path = pack/submodule/start/blink-cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "pack/submodule/start/bufferline"]
	path = pack/submodule/start/bufferline
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "pack/submodule/start/barbecue"]
	path = pack/submodule/start/barbecue
	url = https://github.com/utilyre/barbecue.nvim.git
[submodule "pack/submodule/start/diffview"]
	path = pack/submodule/start/diffview
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "pack/submodule/start/fzf-lua"]
	path = pack/submodule/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/submodule/start/gitsigns.nvim"]
	path = pack/submodule/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/submodule/start/indent-blankline"]
	path = pack/submodule/start/ibl
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "pack/submodule/start/plenary"]
	path = pack/submodule/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/submodule/start/telescope"]
	path = pack/submodule/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/submodule/start/yaml-companion"]
	path = pack/submodule/start/yaml-companion
	url = https://github.com/someone-stole-my-name/yaml-companion.nvim.git
