[submodule "lua/nvim-lspconfig"]
	path = pack/submodule/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/submodule/start/nvim"]
	path = pack/submodule/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "pack/submodule/start/nvim-treesitter"]
	path = pack/submodule/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
